html, body {
    background: #f3f3f3;
}

#container {
    background: #f3f3f3;
}

#items-screen {
    display: none;
}

.main-div {
    padding: 1rem;
    position: relative;
}

.projects-title-area {
    padding: 30px 15px;
    background: #fff;
    border-bottom: 3px solid #a90d37;
    border-radius: 0;
    margin: 1rem;
}

.dbc-logo {
    width: 220px;
    height: 25px;
    display: block;
    float: right;
    margin-right: 1rem;
}
  
.card-1 {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
}

.album-img {
    float: left;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 1rem;
}

.photoScreen {
    position: fixed;
    left: calc(50% - (300px + 2rem));
    top:4rem;
    background: white;
    box-shadow: 0 12px 12px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: solid 1px black;
    padding: 2rem;
}

.title {
    color: #29588c;
    text-decoration: none;
    font-size: 18px;
    padding: 30px 15px;
    position: relative;
}

.detail-image-div {
    margin-bottom: 2rem;
}

.chart-div {
    width: 100%;
    padding: 1rem;
}

.c3-legend-item {
    display: none!important;
}

.threshold-line line{
    stroke: #a90d37;
    stroke-width: 2px;
}

.threshold-line text {
    fill: #29588c;
    font-size: 18px;
}

.att-line {
    position: relative;
    width: 100%;
    height: 120px;
    margin-bottom: 1rem;
}

.project-title {
    color: #29588c;
    text-decoration: none;
    font-size: 18px;
    padding: 30px;
    padding-bottom: 1rem;
    top:0;
    left:0;
    position: absolute;
}

.right-att-1 {
    position: absolute;
    top:0;
    right:0;
    padding: 30px;
    padding-bottom: 1rem;
}

.right-att-2 {
    position: absolute;
    bottom:0;
    right:0;
    padding: 30px;
    padding-top: 0;
}

.left-att {
    position: absolute;
    bottom:0;
    left:0;
    padding-top: 0;
    padding: 30px;
}